<?xml version="1.0"?>
<config>
    <modules>
        <Refiral_Campaign>
            <version>1.0.0</version>
        </Refiral_Campaign>
    </modules>
    <frontend>
        <routers>
            <campaign>
                <use>standard</use>
                <args>
                    <module>Refiral_Campaign</module>
                    <frontName>campaign</frontName>
                </args>
            </campaign>
        </routers>                
		<layout>
			<updates>
				<campaign>
					<file>campaign.xml</file>
				</campaign>
			</updates>
		</layout>
    </frontend>   
    <global>
        <models>
			<campaign>   
				<class>Refiral_Campaign_Model</class>
			</campaign>
        </models>
        <resources>
        </resources>
        <blocks>             
			<campaign>
                <class>Refiral_Campaign_Block</class>
            </campaign>
        </blocks>
        <helpers>
			<campaign>
		    	<class>Refiral_Campaign_Helper</class>
			</campaign>
		</helpers>
    </global>        
	<default>
	        <general>
	            <campaign>
	                <active>1</active>
	                <title>Loyalty</title>                	
	            </campaign>
	        </general>
	</default>
	
</config>